/* body {
    background-color: #1af178;
}
p {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}
#texto{
    color: slategrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    font-style: normal;
}

a:link{
    color: teal;
    font-weight: bold;
}
a:hover{
    color:snow;
} */

/* article p::first-line {
    font-size: 90%;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
article p::first-letter{
    color: red;
} */

.espacio::after{
    content: "Este texto deberia estar antes";
}